---
 {# Triggers list
Hazelcast:
  Hazelcast.MembersCount
  Hazelcast.iMapSize.anomaly
  Hazelcast_QueueSize
JDBC:
  Jdbc.Errors
  JDBC.Latency
Sigtran:
  Sigtran State
  Sigtran long failure (15 min interval)
  SigtranFlap (during last 5 mins)
  SigtranRTBsize (RTB buffer overflow)
TCAP:
   TCAP Aborts count
   TCAP Aborts percent
SMPP
  SMPP State
  SMPP long failure (15 min interval)
  SMPP (during last 5 mins)
SIP
  SIP State
  SIP long failure (15 min interval)
  SIP (during last 5 mins)
OMI
  OMI State
  OMI long failure (15 min interval)
  OMI (during last 5 mins)

  #}

moira_triggers:

## Hazelcast

{% for service in services %}
{% for app in service.apps %}
{% if app.hazelcast is defined %}

  - id: "{{ service.name }}.{{ app.name }}.Hazelcast.MembersCount"
    name: "{{ service.name }}.{{ app.name }}: Hazelcast members count"
    targets:
      - "aliasSub(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=hz', 'name=hazelcast_HazelcastInstance.memberCount','app={{ app.name }}'),'{{ app.nodes|join('|')}}'), 'min', 'Node', 'app'), 'Node', 'app'),'(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.hazelcast.membersCount')"
    expression: "t1 <{{ app.hazelcast.members }}-1 ? ERROR : (t1 < {{ app.hazelcast.members }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
        tags:{% if not app.app_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: Lost hazelcast cluster member(s).

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: The collapse of the Hazelkast cluster can lead to incorrect working of system.
      Description: Hazelcast cluster members count for {{ app.name }} is below the normal value ({{ app.hazelcast.members }}).
    state: {{ state }}

  - id: "{{ service.name }}.{{ app.name }}.Hazelcast.iMapSize.anomaly"
    name: "{{ service.name }}.{{ app.name }}: Hazelcast imap size anomaly"
    state: {{ state }}
    targets:
      - "aliasSub(aliasByMetric(divideSeriesLists(sortByName(movingSum(derivative(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=hz', 'name=HazelcastInstance_IMap.size', 'app={{app.name}}'),'{{ app.nodes|join('|')}}'), 'sum', 'Node', 'app'), 'app', 'Node')), '5min'), true, false), sortByName(movingSum(stdev(derivative(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=hz', 'name=HazelcastInstance_IMap.size', 'app={{app.name}}'),'{{ app.nodes|join('|')}}'), 'sum', 'Node', 'app'), 'app', 'Node')), 1000, 0.3), '5min'), true, false))),'(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{app.name}}.hazelcast.imap.n_stdev')"
    expression: "t1 >4 ? ERROR : (t1 > 3 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: Hazelcast IMap Size anomaly.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Freezing of Hazelkast entities can lead to denial of service for individual subscribers and a general slowdown of the system.
      Description: Derivative of iMap size is higher than 3 standard deviations.

  - id: "{{ service.name }}.{{ app.name }}.Hazelcast_QueueSize"
    name: "{{ service.name }}.{{ app.name }}: Hazelcast Queue size"
    targets:
      - "aliasSub(aliasByMetric(divideSeriesLists(sortByName(movingSum(derivative(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=hz', 'name=ManagedExecutorService.queueSize', 'app={{app.name}}'),'{{ app.nodes|join('|')}}'), 'sum', 'Node', 'app'), 'app', 'Node')), '5min'), true, false), sortByName(movingSum(stdev(derivative(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=hz', 'name=ManagedExecutorService.queueSize', 'app={{app.name}}'),'{{ app.nodes|join('|')}}'), 'sum', 'Node', 'app'), 'app', 'Node')), 1000, 0.3), '5min'), true, false))),'(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{app.name}}.hazelcast.queue.n_stdev')"
    expression: "t1 >4 ? ERROR : (t1 > 3 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: Hazelcast message queue is longer than usual.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Increasing the queue size of Hazelcast cluster may lead to general slowdown of the system.
      Description: Derivative of hazelcast queue size is higher than 3 standard deviations.
    state: {{ state }}

{% endif %}
{% endfor %}
{% endfor %}

## JDBC

{% for service in services %}
{% for app in service.apps %}
{% if app.jdbc is defined %}

  - id: "{{ service.name }}.{{ app.name }}.Jdbc.Errors"
    name: "{{ service.name }}.{{ app.name }}: Jdbc errors"
    targets:
      - "aliasSub(aliasByTags(movingSum(groupByTags(grep(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'name=jdbc.Samples', 'error=~.*\\w.*'),'{{ app.nodes|join('|')}}'),'sum','Node','app'), '5min'), 'Node'),'(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{app.name}}.JdbcErrors.5min')"
    expression: "t1 >=({{ app.jdbc.errors }}*1.5 + 5) ? ERROR : (t1 >= ({{ app.jdbc.errors }} + 1 )? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.app_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_jdbc_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_jdbc_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: JDBC Errors.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: JDBC errors may lead to denial of the service.
      Description: JDBC Errors count for {{ app.name }} for last 5 min is above normal ({{ app.jdbc.errors }}).
    state: {{ state }}

  - id: "{{ service.name }}.{{ app.name }}.JDBC.Latency"
    name: "{{ service.name }}.{{ app.name }}: JDBC Latency"
    targets:
      - "aliasSub(aliasByMetric(movingMedian(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=app', 'name=jdbc.50p', 'app={{ app.name }}'),'{{ app.nodes|join('|')}}'), 'avg', 'app', 'Node'), 'app', 'Node'), '10min')),'(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{app.name}}.jdbc.median_latency.ms')"
    expression: "t1 > {{ app.jdbc.latency }}*1.5 ? ERROR : (t1 > {{ app.jdbc.latency }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_jdbc_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: High value of JDBC latency.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: JDBC latency will lead to slowdown of full system and to degradation of the service.
      Description: median(JDBC Latency)>{{ app.jdbc.latency }} ms for {{ app.name }}.
    state: {{ state }}

{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.JDBC.Status"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: JDBC State"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=CoreDBTable.Status'),'Node', 'Name'),'(.*)','&\\1&'), '1min'),  '.*\\&(.*)\\&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1'){% if app.jdbc.alias_list is defined %}{% for alias in app.jdbc.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMin(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=CoreDBTable.Status'),'3min'), 'max', 'Node', 'app')"
    expression: "t1 < 1 ? ERROR : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.jdbc.short_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_jdbc_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_jdbc_tag + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: JDBC connection failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a JDBC connection to DB can lead to full offline of the service.
      Description: Failed JDBC links of {{ app.name }} on {{ node }}.
    state: {{ state }}
{% endfor %} # node
{% endif %}
{% endfor %} # app
{% endfor %} # service


## Sigtran

{% for service in services %}
{% for app in service.apps %}
{% if app.sigtran is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.Sigtran"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: Sigtran State"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=Sigtran.State'),'Node', 'CA'),'(.*)','&\\1&'), '1min'),  '.*\\&(.*)\\&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1')|aliasSub('(.*)\\.Sg\\.SIGTRAN\\.(.*)','\\1.\\2'){% if app.sigtran.alias_list is defined %}{% for alias in app.sigtran.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMin(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=Sigtran.State'),'3min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.sigtran.short_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SIGTRAN link failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SIGTRAN link for interaction with an external SS7 network can lead to full offline of the service.
      Description: Failed SIGTRAN links of {{ app.name }} on {{ node }}. WARN means failure of one or a few links. ERROR means failure of all links.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SigtranLong"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: Sigtran Long Failure"
    targets:
      - "aliasSub(movingMax(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=Sigtran.State'), 'Node', 'CA'),'(.*)','&\\1&'),'15min'),  '.*\\&(.*)\\&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1')|aliasSub('(.*)\\.Sg\\.SIGTRAN\\.(.*)','\\1.\\2'){% if app.sigtran.alias_list is defined %}{% for alias in app.sigtran.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMax(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=Sigtran.State'),'15min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.sigtran.long_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SIGTRAN link Long error.
      Duration: 15min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SIGTRAN link for interaction with an external SS7 network can lead to full offline of the service.
      Description: Long-time failed SIGTRAN links of {{ app.name }} on {{ node }}. WARN means failure of one or a few links for 15 minutes. ERROR means failure of all links for 15 minutes.
    state: {{ state }}



  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SigtranFlap"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: Sigtran Flap"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=Sigtran.State')),'Node', 'CA'),'(.*)','&\\1&'),'5min'),  '.*\\&(.*)\\&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') |aliasSub('(.*)\\.Sg\\.SIGTRAN\\.(.*)','5min_flaps__\\1.\\2'){% if app.sigtran.alias_list is defined %}{% for alias in app.sigtran.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
    expression: "t1 > 10 ? ERROR : (t1 > 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.sigtran.flap_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SIGTRAN link flaps.
      Duration: 5min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SIGTRAN link for interaction with an external SS7 network can lead to full offline of the service.
      Description: Several SIGTRAN link state changes of {{ app.name }} on {{ node }} during last 5 minute. WARN 5 changes. ERROR means 10 changes.
    state: {{ state }}

{% if app.sigtran.maxRTB is defined %}
  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SigtranRTBsize"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: Sigtran RTB size"
    targets:
      - "aliasSub(movingMin(aliasByNode(aliasByTags(groupByTags(seriesByTag('Metrics_type=app', 'app={{ app.name }}', 'Node={{ node }}', 'name=SigtranRTB.maxRTB'),'max', 'name', 'CA'),'name', 'CA'),1, 5, 6, 7, 8, 9),'1min'),'movingMin\\(([^,)]*),.*','\\1'){% if app.sigtran.alias_list is defined %} {% for alias in app.sigtran.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"

    expression: "t1 > {{ (app.sigtran.maxRTB|default(1000))*2 }} ? ERROR : (t1 > {{ app.sigtran.maxRTB|default(1000) }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_service_tag + moira_chart_tag + moira_critical_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SIGTRAN RTB buffer overflow.
      Duration: 1min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: RTB buffer overflow may lead to sctp messages drop and then may lead to the break of the sctp association.
      Description: RTB max size of {{ app.name }} on {{ node }} is above the threshold ( {{ app.sigtran.maxRTB|default(1000) }}) during last 1 minute.
    state: {{ state }}

{% endif %}
{% endfor %} # node
{% endif %} # app.sigtran
{% endfor %} # app
{% endfor %} # service



## TCAP

{% for service in services %}
{% for app in service.apps %}
{% if app.tcap|default(false) |bool  %}

  - id: "{{ service.name }}.{{ app.name }}.TCAP Aborts count"
    name: "{{ service.name }}.{{ app.name }}: TCAP Aborts count"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(seriesByTag('Metrics_type=app', 'name=~TCAP_Stat.Abort_*', 'app={{ app.name }}'), 'Node','name'),'(.*)','&\\1&'), '1min'), '.*\\&(.*)\\&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.1min')"
    expression: "t1 >= 2000 ? ERROR : (t1 >= 1000 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: TCAP Aborts count threshold.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Errors on TCAP level may directly impact to the service.
      Description: Count of tcap aborts from {{ app.name }} is exceeded the threshold. WARN: 1000 per minute. ERROR: 2000 per minute.
    state: {{ state }}

  - id: "{{ service.name }}.{{ app.name }}.TCAP Aborts percent"
    name: "{{ service.name }}.{{ app.name }}: TCAP Aborts percent"
    targets:
      - "aliasSub(aliasMetric(movingMedian(divideSeries(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=app', 'name=~TCAP_Stat.Abort_*', 'app={{ app.name }}'),'{{ app.nodes|join('|')}}'),'sum','Node'),'Node'), aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=app', 'name=~TCAP_Stat.*', 'app={{ app.name }}'),'{{ app.nodes|join('|')}}'),'sum','Node'),'Node')), '1min')), '(.*)' '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{ app.name }}.TCAP_Abort.percent')"
    expression: "t1 >= 20 ? ERROR : (t1 >= 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.app_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: TCAP Aborts percent threshold.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Errors on TCAP level may directly impact to the service.
      Description: Percent of tcap aborts from {{ app.name }} is exceeded the threshold. WARN: 10%. ERROR: 50%.
    state: {{ state }}


{% endif %} # app.tcap
{% endfor %} # app
{% endfor %} # service

## SMPP (client so far)

{% for service in services %}
{% for app in service.apps %}
{% if app.smpp is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SMPP"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: SMPP Link State"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=~SMPP_CL.*tate', 'CA=~.*CCL.*'),'Node', 'CA'),'(.*)','&\\\\1&'), '1min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') | aliasSub('(.*)\\.Sg\\.SMPP\\.(.*)&','\\1.\\2'){% if app.smpp.alias_list is defined %}{% for alias in app.smpp.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMin(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=~SMPP_CL.*tate'),'3min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.smpp.short_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SMPP link is failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SMPP link can lead to full offline of the SMS or USSD service.
      Description: Failed SMPP link of {{ app.name }} on {{ node }}. WARN means failure of one or a few links. ERROR means failure of all links.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SMPP_Long"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: SMPP Long Failure"
    targets:
      - "aliasSub(movingMax(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=~SMPP_CL.*tate', 'CA=~.*CCL.*'),'Node', 'CA'),'(.*)','&\\\\1&'), '15min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') | aliasSub('(.*)\\.Sg\\.SMPP\\.(.*)&','\\1.\\2'){% if app.smpp.alias_list is defined %}{% for alias in app.smpp.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMax(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=~SMPP_CL.*tate'),'15min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.smpp.long_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SMPP link Long error.
      Duration: 15min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SMPP link can lead to full offline of the SMS or USSD service.
      Description: Long-time failed SMPP links of {{ app.name }} on {{ node }}. WARN means failure of one or a few links for 15 minutes. ERROR means failure of all directions for 15 minutes.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SMPPFlap"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: SMPP Flap"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=~SMPP_CL.*tate', 'CA=~.*CCL.*')),'Node', 'CA'),'(.*)','&\\1&'),'5min'),  '.*\\&(.*)\\&.*', '\\1') |aliasSub('(.*)\\.Sg\\.SMPP\\.(.*)&','5min_flaps__\\1.\\2'){% if app.smpp.alias_list is defined %}{% for alias in app.smpp.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"

    expression: "t1 > 10 ? ERROR : (t1 > 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.smpp.flap_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SMPP directions flaps.
      Duration: 5min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SMPP link  can lead to full offline of the SMS or USSD service.
      Description: Several SMPP link state changes of {{ app.name }} on {{ node }} during last 5 minute. WARN 5 changes. ERROR means 10 changes.
    state: {{ state }}


{% endfor %} # node
{% endif %} # app.smpp
{% endfor %} # app
{% endfor %} # service

{% for service in services %}
{% for app in service.apps %}
{% if app.smpp_dir is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SMPP_DIR"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: SMPP_DIR Link State"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=SMPP.State'),'Node', 'CA'),'(.*)','&\\\\1&'), '1min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') | aliasSub('(.*)\\.Sg\\.SMPP\\.(.*)&','\\1.\\2'){% if app.smpp.alias_list is defined %}{% for alias in app.smpp.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMin(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=SMPP.State'),'3min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.smpp.short_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SMPP_DIR link is failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SMPP_DIR link can lead to full offline of the SMS or USSD service.
      Description: Failed SMPP_DIR link of {{ app.name }} on {{ node }}. WARN means failure of one or a few links. ERROR means failure of all links.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SMPP_DIR_Long"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: SMPP_DIR Long Failure"
    targets:
      - "aliasSub(movingMax(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=SMPP.State'),'Node', 'CA'),'(.*)','&\\\\1&'), '15min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') | aliasSub('(.*)\\.Sg\\.SMPP\\.(.*)&','\\1.\\2'){% if app.smpp.alias_list is defined %}{% for alias in app.smpp.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMax(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=SMPP.State'),'15min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.smpp.long_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SMPP_DIR link Long error.
      Duration: 15min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SMPP_DIR link can lead to full offline of the SMS or USSD service.
      Description: Long-time failed SMPP_DIR links of {{ app.name }} on {{ node }}. WARN means failure of one or a few links for 15 minutes. ERROR means failure of all directions for 15 minutes.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SMPP_DIR_Flap"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: SMPP_DIR Flap"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=SMPP.State', 'CA=~.*CCL.*')),'Node', 'CA'),'(.*)','&\\1&'),'5min'),  '.*\\&(.*)\\&.*', '\\1') |aliasSub('(.*)\\.Sg\\.SMPP\\.(.*)&','5min_flaps__\\1.\\2'){% if app.smpp.alias_list is defined %}{% for alias in app.smpp.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"

    expression: "t1 > 10 ? ERROR : (t1 > 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.smpp.flap_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_smpp_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SMPP directions flaps.
      Duration: 5min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SMPP_DIR link  can lead to full offline of the SMS or USSD service.
      Description: Several SMPP_DIR link state changes of {{ app.name }} on {{ node }} during last 5 minute. WARN 5 changes. ERROR means 10 changes.
    state: {{ state }}


{% endfor %} # node
{% endif %} # app.smpp_dir
{% endfor %} # app
{% endfor %} # service

## SIP LINKS

{% for service in services %}
{% for app in service.apps %}
{% if app.sip is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SIP"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: SIP Link State"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=SIP_LINK.state'),'Node', 'CA'),'(.*)','&\\\\1&'), '5min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') | aliasSub('(.*)\\.SPL\\.SIP\\.PINGER\\.(.*)&','\\1.\\2'){% if app.sip.alias_list is defined %}{% for alias in app.sip.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMin(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=SIP_LINK.state'),'3min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.sip.short_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_sip_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_sip_tag + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SIP link is failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SIP link can lead to full offline of the voice service.
      Description: Failed SIP link of {{ app.name }} on {{ node }}. WARN means failure of one or a few links. ERROR means failure of all links.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SIP_Long"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: SIP Long Failure"
    targets:
      - "aliasSub(movingMax(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=SIP_LINK.state'),'Node', 'CA'),'(.*)','&\\\\1&'), '15min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') | aliasSub('(.*)\\.SPL\\.SIP\\.PINGER\\.(.*)&','\\1.\\2'){% if app.sip.alias_list is defined %}{% for alias in app.sip.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMax(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=SIP_LINK.state'),'15min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.sip.long_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_sip_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_sip_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SIP link Long error.
      Duration: 15min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SIP link can lead to full offline of the voice service.
      Description: Long-time failed SIP links of {{ app.name }} on {{ node }}. WARN means failure of one or a few links for 15 minutes. ERROR means failure of all links for 15 minutes.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.SIPFlap"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: SIP Flap"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=SIP_LINK.state')),'Node', 'CA'),'(.*)','&\\1&'),'5min'),  '.*\\&(.*)\\&.*', '\\1') |aliasSub('(.*)\\.SPL\\.SIP\\.PINGER\\.(.*)&','5min_flaps__\\1.\\2'){% if app.sip.alias_list is defined %}{% for alias in app.sip.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"

    expression: "t1 > 10 ? ERROR : (t1 > 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.sip.flap_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_sip_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_sip_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: SIP directions flaps.
      Duration: 5min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a SIP link  can lead to full offline of the voice service.
      Description: Several SIP link state changes of {{ app.name }} on {{ node }} during last 5 minute. WARN 5 changes. ERROR means 10 changes.
    state: {{ state }}


{% endfor %} # node
{% endif %} # app.sip
{% endfor %} # app
{% endfor %} # service

## OMI LINKS

{% for service in services %}
{% for app in service.apps %}
{% if app.omi is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.OMI"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: OMI Link State"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=~.*OMI.?'),'Node', 'CA'),'(.*)','&\\\\1&'), '1min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') | aliasSub('(.*)\\.Ad\\.OMI\\.(.*)&','\\1.\\2'){% if app.omi.alias_list is defined %}{% for alias in app.omi.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMin(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=~.*OMI.?'),'3min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.omi.short_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_omi_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_omi_tag + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: OMI link is failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a OMI link means there is no active connections between applications. Can lead to full outage of service if no reservation configured.
      Description: Failed OMI link of {{ app.name }} on {{ node }}. WARN means failure of one or a few links. ERROR means failure of all links.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.OMI_Long"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: OMI Long Failure"
    targets:
      - "aliasSub(movingMax(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=~.*OMI.?'),'Node', 'CA'),'(.*)','&\\\\1&'), '15min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') | aliasSub('(.*)\\.Ad\\.OMI\\.(.*)&','\\1.\\2'){% if app.omi.alias_list is defined %}{% for alias in app.omi.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMax(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=~.*OMI.?'),'15min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.omi.long_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_omi_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_omi_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: OMI link Long error.
      Duration: 15min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a OMI link means there is no active connections between applications. Can lead to full outage of service if no reservation configured.
      Description: Long-time failed OMI links of {{ app.name }} on {{ node }}. WARN means failure of one or a few links for 15 minutes. ERROR means failure of all links for 15 minutes.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.OMIFlap"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: OMI Flap"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=~.*OMI.?')),'Node', 'CA'),'(.*)','&\\1&'),'5min'),  '.*\\&(.*)\\&.*', '\\1') |aliasSub('(.*)\\.Ad\\.OMI\\.(.*)','5min_flaps__\\1.\\2'){% if app.omi.alias_list is defined %}{% for alias in app.omi.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"

    expression: "t1 > 10 ? ERROR : (t1 > 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.omi.flap_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_omi_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_omi_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: OMI directions flaps.
      Duration: 5min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a OMI link  means there is no active connections between applications.  Can lead to full outage of service if no reservation configured.
      Description: Several OMI link state changes of {{ app.name }} on {{ node }} during last 5 minute. WARN 5 changes. ERROR means 10 changes.
    state: {{ state }}


{% endfor %} # node
{% endif %} # app.omi
{% endfor %} # app
{% endfor %} # service

### HAProxy Links


{% for service in services %}
{% for app in service.apps %}
{% if app.haproxy_link is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.Haproxy_Link"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: HAProxy HttpLink State"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=haproxy.status', 'type=server'),'Node', 'sv'),'(.*)','&\\\\1'), '1min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1')"
      - "groupByTags(movingMin(removeBelowValue(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=haproxy.status', 'type=server'),1),'3min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.haproxy_link.short_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: HAProxy HTTP link is failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a http link can lead to full offline of the SMS or USSD service which using haproxy.
      Description: Failed HTTP link of {{ app.name }} on {{ node }}. WARN means failure of one or a few links. ERROR means failure of all links.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.HAProxy_Link_Long"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: HAProxy HttpLink Long Failure"
    targets:
      - "aliasSub(movingMax(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=haproxy.status', 'type=server'),'Node', 'sv'),'(.*)','&\\\\1'), '15min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1')"
      - "groupByTags(movingMax(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=haproxy.status','type=server'),'15min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.haproxy_link.long_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: HAProxy HTTP link Long error.
      Duration: 15min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a http link can lead to full offline of the SMS or USSD service which is using haproxy.
      Description: Long-time failed HTTP links of {{ app.name }} on {{ node }}. WARN means failure of one or a few links for 15 minutes. ERROR means failure of all directions for 15 minutes.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.HAProxy_Link_Flap"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: HAProxy Http Link Flap"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(removeBelowValue(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=haproxy.status', 'type=server'), 1)),'Node', 'sv'),'(.*)','&\\1'),'5min'),  '.*\\&(.*)\\&.*', '\\1') "

    expression: "t1 > 10 ? ERROR : (t1 > 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.haproxy_link.flap_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Diameter directions flaps.
      Duration: 5min
      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a HAProxy HTTP link  can lead to full offline of the SMS or USSD service which is using haproxy.
      Description: Several HTTP link state changes of {{ app.name }} on {{ node }} during last 5 minute. WARN 5 changes. ERROR means 10 changes.
    state: {{ state }}


{% endfor %} # node
{% endif %} # app.haproxy
{% endfor %} # app
{% endfor %} # service


### Diameter Links


{% for service in services %}
{% for app in service.apps %}
{% if app.diameter is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.Diameter"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: Diameter Link State"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=Diameter.State'),'Node', 'CA'),'(.*)','&\\\\1&'), '5min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') | aliasSub('(.*)\\.Sg\\.DIAM\\.(.*)&','\\1.\\2'){% if app.diameter.alias_list is defined %}{% for alias in app.diameter.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMin(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=Diameter.State'),'3min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.diameter.short_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Diameter link is failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a Diameter link can lead to full offline of the SMS or USSD service.
      Description: Failed Diameter link of {{ app.name }} on {{ node }}. WARN means failure of one or a few links. ERROR means failure of all links.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.Diameter_Long"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: Diameter Long Failure"
    targets:
      - "aliasSub(movingMax(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=Diameter.State'),'Node', 'CA'),'(.*)','&\\\\1&'), '15min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1') | aliasSub('(.*)\\.Sg\\.DIAM\\.(.*)&','\\1.\\2'){% if app.diameter.alias_list is defined %}{% for alias in app.diameter.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMax(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=Diameter.State'),'15min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.diameter.long_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Diameter link Long error.
      Duration: 15min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a Diameter link can lead to full offline of the SMS or USSD service.
      Description: Long-time failed Diameter links of {{ app.name }} on {{ node }}. WARN means failure of one or a few links for 15 minutes. ERROR means failure of all directions for 15 minutes.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.DiameterFlap"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: Diameter Flap"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=Diameter.State')),'Node', 'CA'),'(.*)','&\\1&'),'5min'),  '.*\\&(.*)\\&.*', '\\1') |aliasSub('(.*)\\.Sg\\.DIAM\\.(.*)&','5min_flaps__\\1.\\2'){% if app.diameter.alias_list is defined %}{% for alias in app.diameter.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"

    expression: "t1 > 10 ? ERROR : (t1 > 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.diameter.flap_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Diameter directions flaps.
      Duration: 5min

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a Diameter link  can lead to full offline of the SMS or USSD service.
      Description: Several Diameter link state changes of {{ app.name }} on {{ node }} during last 5 minute. WARN 5 changes. ERROR means 10 changes.
    state: {{ state }}


{% endfor %} # node
{% endif %} # app.diameter
{% endfor %} # app
{% endfor %} # service

## PGW DEVICE

{% for service in services %}
{% for app in service.apps %}
{% if app.pgw_device is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.Ph_Int"
    name: "{{ service.name }}.{{ app.name }}: Physical Interface State"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app','app={{ app.name }}','name=net_stat.devices.device_state_n'),'Node', 'user_name'),'(.*)','&\\\\1'), '5min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1'){% if app.pgw_device.alias_list is defined %}{% for alias in app.pgw_device.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMin(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=net_stat.devices.device_state_n'),'3min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.pgw_device.short_critical|default(false) %} {{ ( [service.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Physical Interface is failed.

      Link to Grafana dashboard: http://{{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a Physical Interface can lead to full offline of the PGW service.
      Description: Failed Interface of {{ app.name }} on {{ node }}. WARN means failure of one or a few interface. ERROR means failure of all interfaces.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.Ph_Int_Long"
    name: "{{ service.name }}.{{ app.name }}: Physical Interface Long Failure"
    targets:
      - "aliasSub(movingMin(aliasSub(aliasByTags(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=net_stat.devices.device_state_n'),'Node', 'user_name'),'(.*)','&\\\\1'), '15min'),  '.*&\\\\(.*)&.*', '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1'){% if app.pgw_device.alias_list is defined %}{% for alias in app.pgw_device.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"
      - "groupByTags(movingMax(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=net_stat.devices.device_state_n'),'15min'), 'max', 'Node', 'app')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.pgw_device.long_critical|default(false) %} {{ ( [service.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Physical Interface Long error.
      Duration: 15min

      Link to Grafana dashboard: http://{{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a Physical Interface can lead to full offline of the PGW service.
      Description: Long-time failed Physical Interface of {{ app.name }} on {{ node }}. WARN means failure of one or a few interfaces for 15 minutes. ERROR means failure of all interfaces for 15 minutes.
    state: {{ state }}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.Ph_int_Flap"
    name: "{{ service.name }}.{{ app.name }}: Physical Interface Flap"
    targets:
      - "aliasSub(movingSum(aliasSub(aliasByTags(changed(seriesByTag('Node={{ node }}', 'Metrics_type=app', 'app={{ app.name }}', 'name=netstat.device_state_n')),'Node', 'user_name'),'(.*)','&\\1&'),'5min'),  '.*\\&(.*)\\&.*', '\\1'){% if app.pgw_device.alias_list is defined %}{% for alias in app.pgw_device.alias_list %}| aliasSub('(.*{{ alias.link | replace(".", "\\\\.") }}$)', '\\1.{{ alias.alias }}'){% endfor %}{% endif %}"

    expression: "t1 > 10 ? ERROR : (t1 > 5 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.pgw_device.flap_critical|default(false) %} {{ ( [service.name]  + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: Physical Interface flaps.
      Duration: 5min

      Link to Grafana dashboard: http://{{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a Physical Interface  can lead to full offline of the PGW service.
      Description: Several Physical Interface state changes of {{ app.name }} on {{ node }} during last 5 minute. WARN 5 changes. ERROR means 10 changes.
    state: {{ state }}


{% endfor %} # node
{% endif %} # app.pgw_devices
{% endfor %} # app
{% endfor %} # service

## HA ROLE

{% for service in services %}
{% for app in service.apps %}
{% if app.pgw_HA is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{ app.name }}.HA_Role_Changed"
    name: "{{ service.name}}.{{ app.name }}: HA Role Changed"
    targets:
      - "aliasSub(aliasByTags(changed(grep(seriesByTag('name=core_stat.high_availability.role_n', 'Metrics_type=app', 'app={{ app.name }}'),'{{ app.nodes|join('|')}}')),'Node'),'(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.{{ app.name }}.HA_Role_Changed')"
    expression: "t1 != 0 ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{% if not app.pgw_ha_role_critical|default(false) %} {{ ( [service.name] + moira_service_tag + moira_event_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Application: {{ app.name }}.

      Event: HA Role Changed

      Link to Grafana dashboard: http://{{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: HA Role in cluster changed.
      Description: Current Cluster Role of the application is not equal to previous one.
    state: {{ state }}

{% endfor %} # node
{% endif %} # app.pgw_ha
{% endfor %} # app
{% endfor %} # service

## s1

{# {% for service in services %}
{% for app in service.apps %}
{% if app.s1peer is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.S1Peer"
    name: "{{ service.name }}.{{node}}.{{ app.name }}: S1Peer State"
    targets:
      - "aliasSub(aliasByTags(movingMin(seriesByTag('Node=MME_01', 'name=S1Peers.state', 'app=Protei_MME'), '1min'), 'TAC', 'PLMN', 'ip'), '^(\d+)\.(\d+)\.(\d+.\d+.\d+.\d+)$', 'TAC=\1,PLMN=\2,IP=\3')"
      - "groupByTags(movingMin(seriesByTag('Node=MME_01', 'name=S1Peers.state', 'app=Protei_MME'), '1min'), 'max', '')"
    expression: "t2 < 1 ? ERROR : (t1 < 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags:{{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% if not app.sigtran.short_critical|default(false) %} {{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json}} {% else %} {{ ( [service.name] + [app.name] + moira_sigtran_tag + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json}} {% endif %}

    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Application: {{ app.name }}.

      Event: S1Peer State link failed.

      Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard| default(service.service_dashboard) }}
      Impact: Failure of a S1Peer link
      Description: Failed S1Peer links of {{ app.name }} on {{ node }}. WARN means failure of one or a few links. ERROR means failure of all links.
    state: {{ state }}

{% endfor %} # node
{% endif %} # app.s1peer
{% endfor %} # app
{% endfor %} # service #}

export_file: "{{ role_path }}/files/triggers/{{ ansible_hostname }}/app_interfaces_triggers.tsv"
