---

moira_triggers:

{% for service in services %}
{% for app in service.apps %}
{% if app.capl_logic_load is defined %}
{% for node in app.nodes %}

  - id: "{{ service.name }}.{{node}}.{{ app.name }}.capl_logic_load"
    name: "{{ service.name }}.{{ app.name }}: CAPL LogicLoad threshold"
    targets:
      - "aliasByTags(groupByTags(consolidateBy(scale(seriesByTag('Node={{ node }}','Metrics_type=app', 'app=Protei_CAPL','Subj=Allocated_Logic'), {{app.capl_logic_load.ratio}}, 0), 'maximum'), 'max', 'Node', 'name'), 'Node')|aliasSub('(.*)','\\1.LogicLoad(%)')"
    expression: "t1 >= {{ app.capl_logic_load.err }}  ? ERROR : (t1 >= {{ app.capl_logic_load.warn }}  ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + [app.name] + moira_service_tag + moira_chart_tag) | to_json}}
    desc: |
      Service: {{service.name}}.
      Application: {{ app.name }}.

      Event: Number of Allocated logics on CAPL reach threshold limit

            Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ app.app_dashboard }}
      Impact: Unexpected increase of Allocated Logics on CAPL
      Description: Allocated Logics / LogicLimit has reached threshold ratio. Unexpected traffic or logic leak on application. Error: {{ app.capl_logic_load.err }}, warning: {{ app.capl_logic_load.warn }}.
    state: {{ state }}


{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}

export_file: "{{ role_path }}/files/triggers/{{ ansible_hostname }}/capl_triggers.tsv"
