Name	Level	Domain	Service	Application	Node	Event	Impact	Description
{% for trigger in moira_triggers %}
{{ trigger.name }}	{{ trigger.tags|select('match', '^(critical|base)') |list|join()}}	{{ trigger.tags|select('match', '^(System|Service)') |list|join()}}	{{ trigger.desc|regex_search('Service:.*', multiline=True) | regex_replace('Service:') | trim }}	{{ trigger.desc|regex_search('Application:.*', multiline=True) | regex_replace('Application:') | trim }}	{{ trigger.desc|regex_search('Node:.*', multiline=True) | regex_replace('Node:') | trim }}	{{ trigger.desc|regex_search('Event:.*', multiline=True) | regex_replace('Event:') | trim }}	{{ trigger.desc|regex_search('Impact:.*', multiline=True) | regex_replace('Impact:') | trim }}	{{ trigger.desc|regex_search('Description:.*', multiline=True) | regex_replace('Description:') | trim }}
{%endfor%}