ServiceNameTriggers:
{% for node in nodes %}
  - id: "NormalizedLoadAverage{{ node }}"
    name: "{{ node }}_LoadAverage"
    targets:
      - "divideSeries(seriesByTag('Metrics_type=system', 'name=system.load1', 'Node={{ node }}'), seriesByTag('Metrics_type=system', 'name=system.n_cpus', 'Node={{ node }}'))"
    expression: "t1 > 1 ? ERROR : (t1 > 0.8 ? WARN : OK)"
    tags:
      - System
      - {{ node }}
    desc: LoadAverage1 / CoreCount value exceeded the threshold
{% endfor %}