---

moira_triggers:

{% for service in services %}
{% if service.pcs is defined %}
  - id: "{{ service.name }}.PCS.nodes.rescount"
    name: "{{ service.name }}: PCS Cluster resource count on node has changed"
    targets:
      - "aliasSub(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_node.resource_count'),'{{ service.nodes|join('|')}}'), 'min', 'cluster_name', 'pcs_node'), 'cluster_name', 'pcs_node'), '(.*)', '\\1.resource count')"
      - "sumSeries(changed(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_node.resource_count'),'{{ service.nodes|join('|')}}'), 'min', 'cluster_name', 'pcs_node')))"
    expression: "t2 != 0 ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_service_tag + moira_chart_tag + moira_base_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Event: The count of active resources on the node has changed.

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: may be a sign of an unstable cluster state
      Description: Resource count on nodes is changed
    state: {{state}}

  - id: "{{ service.name }}.PCS.Node.Offline"
    name: "{{ service.name }}: PCS Cluster Node offline"
    targets:
      - "aliasSub(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_node.online'),'{{ service.nodes|join('|')}}'), 'min', 'cluster_name', 'pcs_node'), 'cluster_name', 'pcs_node'), '(.*)', '\\1.Online')"
    expression: "t1 != 1 ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_service_tag + moira_bool_tag + moira_critical_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Event: PCS Cluster node offline.

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: Failure of one of the cluster nodes at least worsens the survivability of the system. In the worst case, an offline service is possible.
      Description: State of one of cluster nodes has been changed to Offline.
    state: {{state}}

  - id: "{{ service.name }}.PCS.Node.Maintenance"
    name: "{{ service.name }}: PCS Cluster Node Maintenance"
    targets:
      - "aliasSub(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=~pacemaker_node.maintenance'),'{{ service.nodes|join('|')}}'), 'max', 'cluster_name', 'pcs_node'), 'cluster_name', 'pcs_node'), '(.*)', '\\1.Maintenance')"
    expression: "t1 != 0 ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Event: PCS Cluster node in maintenance mode.

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: In maintenance mode, pacemaker does not manage resources.
      Description: Mode of one of cluster nodes has been changed to Maintenance.
    state: {{state}}

  - id: "{{ service.name }}.PCS.Node.Standby"
    name: "{{ service.name }}: PCS Cluster Node Standby"
    targets:
      - "aliasSub(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=~pacemaker_node.standby'),'{{ service.nodes|join('|')}}'), 'max', 'cluster_name', 'pcs_node'), 'cluster_name', 'pcs_node'), '(.*)', '\\1.Maintenance')"
    expression: "t1 != 0 ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Event: PCS Cluster node in standby mode.

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: In standby mode, pacemaker will use node for resource relocatipons.
      Description: Mode of one of cluster nodes has been changed to Standby.
    state: {{state}}

  - id: "{{ service.name }}.PCS.Resource.Migration"
    name: "{{ service.name }}: PCS Cluster Resource migration"
    targets:
      - "aliasSub(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_resource'),'{{ service.nodes|join('|')}}'), 'min', 'pcs_node', 'cluster_name', 'pcs_group', 'pcs_resource'), 'cluster_name', 'pcs_node', 'pcs_group', 'pcs_resource'), '(.*)', '\\1.Started')"         # Resource state on nodes
      - "sumSeries(changed(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_resource'),'{{ service.nodes|join('|')}}'), 'min', 'pcs_node', 'cluster_name', 'pcs_group', 'pcs_resource')))"  # Is resource state on one of the nodes has been changed?
      - "delay(sumSeries(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_resource'),'{{ service.nodes|join('|')}}'), 'min', 'pcs_node', 'cluster_name', 'pcs_group', 'pcs_resource')),1)" # derivative of active resources count
      - "sumSeries(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_resource'),'{{ service.nodes|join('|')}}'), 'min', 'pcs_node', 'cluster_name', 'pcs_group', 'pcs_resource'))"  # derivative of active resources count
    expression: "t2 != 0 && t3 <= t4 ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_service_tag + moira_event_tag + moira_base_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Event: PCS Cluster resource migration.

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: For some reason, one of resources was relocated to another node. Short offline of service.
      Description: Resource state on one of nodes has been changed, but number of active resources has not decreased.
    state: {{state}}

  - id: "{{ service.name }}.PCS.Resource.Stop"
    name: "{{ service.name }}: PCS Cluster Resource Stop"
    targets:
      - "aliasSub(aliasByTags(movingMin(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_node.resource_count'),'{{ service.nodes|join('|')}}'), 'max', 'cluster_name'), '1min'),'cluster_name'), '(.*)', '\\1.resource count')"
    expression: "t1 == 0 ? ERR : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_service_tag + moira_event_tag + moira_base_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Event: PCS Cluster resource stop.

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: Offline of service.
      Description: Number of active resources is equal zero, cluster offline.
    state: {{state}}

  - id: "{{ service.name }}.PCS.Resource.Start"
    name: "{{ service.name }}: PCS Cluster Resource Start"
    targets:
      - "aliasSub(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_resource'),'{{ service.nodes|join('|')}}'), 'min', 'pcs_node', 'cluster_name', 'pcs_group', 'pcs_resource'), 'cluster_name', 'pcs_node', 'pcs_group', 'pcs_resource'), '(.*)', '\\1.Started')"         # Resource state on nodes
      - "delay(sumSeries(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_resource'),'{{ service.nodes|join('|')}}'), 'min', 'pcs_node', 'cluster_name', 'pcs_group', 'pcs_resource')),1)" # derivative of active resources count
      - "sumSeries(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_resource'),'{{ service.nodes|join('|')}}'), 'min', 'pcs_node', 'cluster_name', 'pcs_group', 'pcs_resource'))"  # derivative of active resources count
    expression: "t2 < t3 ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_service_tag + moira_event_tag + moira_base_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Event: PCS Cluster resource start.

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: INFO: The resource has become active.
      Description: Number of active resources has increased.
    state: {{state}}

  - id: "{{ service.name }}.PCS.Resource.Active.Count"
    name: "{{ service.name }}: PCS Cluster. Running resources count"
    targets:
      - "aliasSub(aliasByTags(movingMin(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_node.resource_count'),'{{ service.nodes|join('|')}}'), 'max', 'cluster_name'), '1min'),'cluster_name'), '(.*)', '\\1.resource count')"
    expression: "t1 < {{service.pcs.resource_count}} ? WARN :(t1 == 0 ? ERR : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Event: Not all cluster resources are running.

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: Offline of service.
      Description: Number of running resources is less than the number of resources (WARN) or even equal 0 (ERROR).
    state: {{state}}

  - id: "{{ service.name }}.PCS.Resource.Fail_counter"
    name: "{{ service.name }}: PCS Cluster resource failed"
    targets:
      - "aliasSub(movingSum(nonNegativeDerivative(aliasByTags(groupByTags(grep(seriesByTag('Metrics_type=pacemaker', 'name=pacemaker_resource_fail_count'),'{{ service.nodes|join('|')}}'), 'min', 'pcs_node', 'cluster_name', 'pcs_group', 'pcs_resource'), 'cluster_name', 'pcs_node', 'pcs_group', 'pcs_resource')), '5min'), '.*nonNegativeDerivative\\(([^\\)]*)\\),.*', '\\1.Fails number over 5 min')"
    expression: "t1 >= 4 ? ERROR :(t1 >=1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_service_tag + moira_bool_tag + moira_base_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Event: Not all cluster resources are running.

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: Resource has been failed. Pacemaker will try to restart it.
      Description: Resource fails counter has been increased.
    state: {{state}}

  - id: "{{ service.name }}.PCS.NoData"
    name: "{{ service.name }}: PCS No Data"
    targets:
      - "groupByTags(isNonNull(grep(seriesByTag('Metrics_type=pacemaker'),'{{ service.nodes|join('|')}}')),'sum', 'Node')"
    expression: "t1 == 0 ? ERROR : OK"
    ttl_state: {{ moira_nodata_ttl_state }}
    ttl: {{ moira_nodata_ttl }}
    tags: {{ moira_monitoring_tag | to_json }}
    desc: |
      Service: {{ service.name }}.
      Event: PCS cluster No Data.

      Link to grafana dashboard: {{ grafana_hostport }}/d/{{ service.service_dashboard }}
      Impact: Monitoring cannot work without data.
      Description: No Data for metric groupByTags(grep(seriesByTag('Metrics_type=pacemaker'),'{{ service.nodes|join('|')}}'), 'count', 'Node').
    state: {{state}}
{% else %}
{% endif %}
{% endfor %}

export_file: "{{ role_path }}/files/triggers/{{ ansible_hostname }}/pcs_triggers.tsv"