---

moira_triggers:
{% for service in services %}
{% for node in service.nodes %}
  - id: "{{ service.name }}.{{ node }}.LoadAverage"
    name: "{{ node }}: High Load Average"
    targets:
      - "aliasByTags(seriesByTag('Metrics_type=system', 'name=system.load1', 'Node={{ node }}'), 'Node', 'name')|movingMin('5m')|aliasSub('movingMin\\(([^,]*),.*','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1')"
      - "seriesByTag('Metrics_type=system', 'name=system.n_cpus', 'Node={{ node }}')"
    expression: "t1/t2 > 1.5 ? ERROR : (t1/t2 > 1 ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ( [service.name] + moira_system_tag + moira_chart_tag + moira_base_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Event: High Load Average.

      Link to Grafana dashboard:{{ grafana_hostport }}/d/{{ system_dashboard }}/system?orgId=1&var-Node={{ node }}
      Impact: Performance degradation of applications on the server.
      Description: (LoadAverage1 / CoreCount) exceeded the threshold (1.5 ERROR, 1 WARN) for longer than 5 minuts.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.Offline"
    name: "{{ node }}: Offline"
    targets:
      - "aliasByTags(groupByTags(seriesByTag('Metrics_type=system', 'name=ping.percent_packet_loss', 'url={{ node }}'), 'min', 'url'), 'url')|aliasSub('(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1.ping.percent_packet_loss')"
      - "aliasByTags(movingMin(groupByTags(seriesByTag('Metrics_type=system', 'name=ping.percent_packet_loss', 'url={{ node }}'), 'min', 'url'),'10min'), 'url')"
    expression: "t2 > {{ system_thresholds.percent_packet_loss }} && t1 > {{ system_thresholds.percent_packet_loss }} ? ERROR: (t1 >  {{ system_thresholds.percent_packet_loss }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ([service.name] + moira_critical_tag + moira_system_tag + moira_bool_tag ) | to_json}}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Event: Offline of node.

      Link to Grafana dashboard:{{ grafana_hostport }}/d/{{ system_dashboard }}/system?orgId=1&var-Node={{ node }}
      Impact: Offline of node (with impact to all services).
      Description: Ping loss more than  {{ system_thresholds.percent_packet_loss }} to {{ node }} from other nodes. 1 min WARN, 10 min ERR
    state: {{state}}

  - id: "{{ service.name }}.{{ node }}.UsedMemoryPercent"
    name: "{{ node }}: High Used Memory Percent"
    targets:
      - "alias(movingMedian(seriesByTag('Metrics_type=system', 'name=mem.used_percent', 'Node={{ node }}'),'1min' ), '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}{{ node }}.System memory.Used percent')"
      - "aliasByTags(movingMedian(seriesByTag('Metrics_type=system', 'name=mem.used_percent', 'Node={{ node }}'),'10min'), 'Node', 'name')"
    expression: "t1 > {{ system_thresholds.UsedMemoryPercent_err }} ? ERROR : (t1 > {{ system_thresholds.UsedMemoryPercent_warn }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ([service.name] +moira_system_tag + moira_chart_tag + moira_base_tag) | to_json}}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Event: High Memory usage percent.

       Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ system_dashboard }}/system?orgId=1&var-Node={{ node }}
      Impact: Critical applications on node {{node}} can be slowed down or even killed due OOM issue.
      Description: Current Memory usage percent on host exceeded the threshold. Warn - {{ system_thresholds.UsedMemoryPercent_warn }}% usage, critical - {{ system_thresholds.UsedMemoryPercent_err }}% usage or {{ system_thresholds.UsedMemoryPercent_warn }}% during last 30 minuts.
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.SwapUsage"
    name: "{{ node }}: Increasing Swap Usage"
    targets:
      - "alias(scale(movingMedian(seriesByTag('Metrics_type=system', 'name=mem.swap_cached', 'Node={{ node }}'),'5min' ),0.000001), '{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}{{node}}.swap_cached_MB')"
      - "aliasByTags(scale(movingMedian(seriesByTag('Metrics_type=system', 'name=mem.swap_cached', 'Node={{ node }}'),'10min' ),0.000001), 'Node', 'name')"
    expression: "t1-t2 >  {{ system_thresholds.SwapUsage_mb }} ? WARN : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ([service.name] +moira_system_tag + moira_chart_tag + moira_base_tag) | to_json}}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Event: Increasing Swap utilisation.

       Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ system_dashboard }}/system?orgId=1&var-Node={{ node }}
      Impact: Critical applications on node {{node}} can be slowed down.
      Description: Increasing swap utilisation for {{ system_thresholds.SwapUsage_mb }}MB during last 10 min.
    state: {{ state }}


  - id: "{{ service.name }}.{{ node }}.UsedDiskSpace"
    name: "{{ node }}: High Disk Space Usage"
    targets:
      - "aliasByTags(groupByTags(seriesByTag('Metrics_type=system', 'name=disk.used_percent', 'Node={{ node }}','path!=~.*snap.*','path!=~.*coredump.*'),'max','Node','name','path'), 'Node', 'name', 'path')|aliasSub('(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1')"
    expression: "t1 > {{ system_thresholds.UsedDiskSpace_err }} ? ERROR : (t1 > {{ system_thresholds.UsedDiskSpace_warn }} ? WARN : OK)"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ([service.name] +moira_system_tag + moira_chart_tag + moira_base_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Event: High disk space usage percent.

       Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ system_dashboard }}/system?orgId=1&var-Node={{ node }}
      Impact: When the disk is full, applications can stop logging. And there may also be more serious problems in the operation of Applications/OS.
      Description: Current disk space usage percent on one of the filesystems has been exceeded the threshold {{ system_thresholds.UsedDiskSpace_err }} ERROR, {{ system_thresholds.UsedDiskSpace_warn }} WARN)
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.fs_rorw"
    name: "{{ node }}: rorw File System"
    targets:
      - "aliasByTags(groupByTags(seriesByTag('Metrics_type=system', 'name=disk.mode', 'Node={{ node }}'),'min','Node','name','path'), 'Node', 'name', 'path')|aliasSub('(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1')"
      - "sumSeries(changed(groupByTags(seriesByTag('Metrics_type=system', 'name=disk.mode', 'Node={{ node }}'), 'min', 'Node', 'name', 'path')))"
    expression: "t2 > 0 ? ERROR : OK"
    ttl_state: {{ moira_general_ttl_state }}
    ttl: {{ moira_general_ttl }}
    tags: {{ ([service.name] +moira_system_tag + moira_bool_tag + moira_critical_tag) | to_json }}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Event: File system mode has been changed.

       Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ system_dashboard }}/system?orgId=1&var-Node={{ node }}
      Impact: A read-only file system can lead to incorrect application operation. In addition, this may indicate a problem with the hard drive.
      Description: File system mode has been changed: rw(1), ro(0).
    state: {{ state }}

  - id: "{{ service.name }}.{{ node }}.NoData"
    name: "{{ node }}: System No Data"
    targets:
      - "alias(transformNull(removeAboveValue(movingMax(sumSeries(transformNull(seriesByTag('Node={{ node }}', 'Metrics_type=system', 'name=disk.used_percent'), 0)), '1min'), 1), 1),'{{ node }}.Metrics')|aliasSub('(.*)','{% if first_node_service|default(false) == true %}{{ service.name }}.{% endif %}\\1')"
    expression: "t1 == 0 ? ERROR : OK"
{# Previously. Was changed to avoid too many metrics for moira-checker
      - "derivative(countSeries(seriesByTag('Node={{ node }}', 'Metrics_type=system')))"
    expression: "t1 == 0 ? ERROR : (t2 <= -100 ? WARN : OK)"
 #}
    ttl_state: {{ moira_nodata_ttl_state }}
    ttl: {{ moira_system_nodata_ttl }}
    tags: {{ moira_monitoring_tag | to_json}}
    desc: |
      Service: {{ service.name }}.
      Node: {{ node }}.
      Event: No any System metrics from {{ node }}.

       Link to Grafana dashboard: {{ grafana_hostport }}/d/{{ system_dashboard }}/system?orgId=1&var-Node={{ node }}
      Impact: Monitoring cannot work without data.
      Description: No Data for metric seriesByTag('Metrics_type=system', 'Node={{ node }}').
    state: {{state}}

{% endfor %}
{% endfor %}

export_file: "{{ role_path }}/files/triggers/{{ ansible_hostname }}/system_triggers.tsv"
